{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>| Bulk Email System |</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{% static 'img/wave.png' %}">
	<div class="container">
		<div class="img">
			<img src="{% static 'img/bg1.svg' %}">
		</div>
		<div class="login-content">
			<form action="{% url 'validate' %}" method="post">
               {% csrf_token %} 
				<img src="{% static 'img/avatar.svg' %}">
                <p>Your One Time Password (OTP) Are Sent To -</p><b>{{ email }}</b> <p>- Email ID</p>
				<input name="name" type="hidden" value={{name}}>
    <input name="email" type="hidden" value={{email}}>
    <input name="programme" type="hidden" value={{programme}}>
    <input name="branch" type="hidden" value={{branch}}>
    <input name="sem" type="hidden" value={{sem}}>
    <input name="totp" type="hidden" value={{totp}}>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Enter OTP</h5>
           		    	<input type="password" name="otp" class="input">
            	   </div>
            	</div>
            	<a href="{% url 'register' %}">Didn't Get Code</a>
            	<input type="submit" class="btn" value="Submit">
                {% for message in messages %}
    <center><h4 style="color:red;">{{message}}</h4></center>
    <br>
    <br>
    {% endfor %}
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
